body {
    margin: 0;
    font-family: sans-serif;
    background-color: #181A1B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    color: white;
    font-size: 20px;
}

input {
    height: 30px;
    width: 80px;
    background-color: black;
    border-radius: 20px;
}

button {
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    padding-block: 5px;
}

button:hover {
    padding-block: 15px;
}

button::after {
    transition: 0.3s;
}

.size button {
    border-radius: 0px;
    box-shadow: 0px 0px 0px black !important;
}

.sizes {
    display: flex;
    justify-content: space-evenly;
}

.size {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.rainbow {
    background-color: red;
}

.gap {
    background-color: red;
}

.erase {
    background-color: red;
}

.default {
    background-color: green;
}

.title {
    color: #C8C3BC;
    font-size: 52px;
    text-align: center;
    padding-block: 20px;
    margin-bottom: 50px;
    width: 100%;
    text-shadow: 10px 10px 10px black;
    background-color: #575e61;
    border: 5px solid black;
    border-radius: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 130px;
}

.num {
    margin: 0px;
    align-self: center;
}

.set {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid black;
    border-radius: 20px;
    background-color: #575e61;
    padding: 20px;
    width: 300px;
    box-shadow: 5px 5px 40px black;
}

.set button {
    box-shadow: 5px 5px 5px black;
}

.size {
    display: flex;
    background-color: white;
}

.s-btns {
    display: flex;
    flex-direction: column;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(16,1fr);
    height: 500px;
    width: 500px;
    padding: 20px;
    border: 5px solid black;
    background-color: #575e61;
    border-radius: 20px;
    gap: 0px;
    box-shadow: 3px 3px 40px black;
}

.div {
    background-color: #FAEBD7;
    border: 1px solid #FAEBD7;
}

.grid .div:hover {
    border: 1px solid black !important;
}

.grid:hover {
    cursor: crosshair;
}